html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

/*Welcome*/

.welcomeBody {
  background-color: #4cbb17;
  display: flex;
  justify-content: center;
}

.gettingStartedContainer {
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
}

/*Signup*/

.signupHeader > a {
  text-decoration: none;
}
.signupHeader {
  text-align: center;
}

.signupBody {
  background-color: #4cbb17;
  display: flex;
  justify-content: center;
}

.signupFormContainer {
  background-color: goldenrod;
  text-align: center;
  padding: 25px;
}

/*Login*/

.loginBody {
  background-color: #4cbb17;
  display: flex;
  justify-content: center;
}

.loginFormContainer {
  text-align: center;
  background-color: goldenrod;

  padding: 40px;
}

/*Homepage*/

.homeHeaderContainer {
  display: flex;
  justify-content: space-around;
}

.homepageBody {
  background-color: #4cbb17;
  text-align: center;
}

.gabList {
  display: flex;
  flex-wrap: wrap;
}

.gabContainer {
  background-color: goldenrod;
  border: 5px solid lightcoral;
  padding: 25px;
  width: 15rem;
  margin: 5px;
}

.likedGabs {
  display: flex;
  flex-wrap: wrap;
}
