html {
  /* font-family: 'Just Me Again Down Here', "cursive"; */
  font-family: 'Caveat', "cursive";
  /* font-family: 'Reenie Beanie', "cursive"; */
  height: 100%;
  width: 100%;
  background: url("./chalkboard.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

/*Welcome*/

.welcomeBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gettingStartedContainer {
  text-align: center;
  align-items: center;
  padding: 20px;
  font-size: 50px;
  text-decoration: none;
}

.signupLink {
  text-decoration: none;
  color: black;
}

.loginLink {
  text-decoration: none;
  color: black;
}

/*Signup*/

.signupHeader > a {
  text-decoration: none;
}
.signupHeader {
  text-align: center;
}

.signupBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signupFormContainer {
  text-align: center;
  align-items: center;
  padding: 20px;
  font-size: 50px;
  text-decoration: none;
}

/*Login*/

.loginBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signUpLink {
  text-decoration: none;
  color: black;
}

.loginFormContainer {
  text-align: center;
  align-items: center;
  padding: 20px;
  font-size: 50px;
  text-decoration: none;
}

/*Homepage*/

.homeHeaderContainer {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  font-size: 20px;
  text-decoration: none;
}

.homepageBody {
  text-align: center;
}

.gabList {
  display: flex;
  flex-wrap: wrap;
}

.gabContainer {
  padding: 25px;
  width: 15rem;
  margin: auto;
  font-size: 30px;
  box-shadow: 0px 0px 5px black;
  background-color: rgba(0, 0, 0, 0.5);
}

.likedGabs {
  display: flex;
  flex-wrap: wrap;
}

.logoutLink {
  text-decoration: none;
  font-size: 30px;
  padding-top: 50px;
}
